img{
max-height: 128px;
    max-width: 100%;
    margin:0;
    padding:0;
}
body{
    max-width: max-content;
    max-height: 100vh;
    margin: auto;
}
.replay{
position: relative;
background-color: rgba(0, 0, 0, 0.8);
 border:1px solid;
 color:white;
left: 50%;
    transform: translateX(-50%);
}
.memory-button{
border:0;
background: transparent;

    margin:0;
    padding:0;
        cursor: pointer;
}

#memorygame{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    padding:2px;
    margin:0;
    align-items: center;
    justify-content: center;
}
 .win {
    border:0;
    z-index: 2;
     position: absolute;
     font-size: 30px;
background-color: rgba(0, 0, 0, 0.6);
     opacity: 0.4;
     width: 100%;
     height: fit-content;
    left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

 }
.legend{
    text-align: center;
}
.divBack{
    visibility: hidden;
max-height: 128px;
max-width: 128px;
flex:1 23%;
padding:0;
margin:0;
border:0;
}
.replay{
 font-size:30px;
}