img{
max-height: 128px;
    max-width: 100%;
    margin:0;
    padding:0;
}
body{
    max-width: max-content;
    max-height: 100vh;
    margin: auto;
}

button{
background: transparent;
    border: none !important;
    margin:0;
    padding:0;
        cursor: pointer;
}

#memorygame{
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    padding:2px;
    margin:0;
    max-width: 652px;
    max-height: 522px;
    align-items: center;
    justify-content: center;
}
.win{
    font-size: 30px;
    background:grey ;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
top: 50%;
    left: 50%;
}

.divBack{
flex:1 18%;
padding:0;
margin:0;
}